body {
	font-size: 16px;
	line-height: 1.5;
	margin: 2em 0 2em 0;
}
.navbar-inner {
	min-width: 365px;
	padding: 0.75em 1.5em 0.75em 1.5em;
}

.form-inline {
	width: 100%;
}

.pagination {
	margin: 0;
}

.pagination-footer {
	font-size: 0.8em;
	text-align:center;
	margin-top: 1em;
}

.thumbnail:hover, .thumbnail:active {
	background-color: #fafafa;
}

.thumbnail a:hover {
	text-decoration: none
}

.spinner {
    top: 8em;
    position: absolute;
    width: 100%;
}

.container {
	position: relative;
}

.spinner > img {
    margin: 0 auto;
    display: block;
}

.thumbnail .caption {
	font-size: 0.75em;
	width: 95%;
	padding-bottom: 0;
}

.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
}

[data-flickr-role=grid] {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	/*transition: visibility 0s linear 0s,opacity 0.5s linear;
	-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-moz-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-o-transition:: visibility 0s linear 0.5s,opacity 0.5s linear;*/
}

.visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

@media (max-width: 767px) {
	.navbar-inner {
		min-width: 0;
	}

	.thumbnail .img-wrapper {
		margin-top: 1em;
		margin: 0 auto;
		-moz-box-shadow: 5px 5px 15px #888;
		-webkit-box-shadow: 5px 5px 15px #888;
		box-shadow: 5px 5px 15px #888;
	}

	.thumbnail {
		padding-top: 1.5em;
	}

	.thumbnail .caption {
		text-align: center;
		font-size: 1.5em;
		line-height: 1.5em;
	}
}

@media (max-width: 480px) {
	body {
		margin: 1em 0 1em 0;
	}

	.navbar-inner {
		padding: 0.5em 1em 0.5em 1em;
	}

	.search-query {
		width: 60%;
	}

	.navbar label {
		display: none;
	}

	.pagination-large ul>li>a, .pagination-large ul>li>span{
		font-size: 1em;
		padding: 0.4em;
	}
}
