body {
    margin: 2em 0 2em 0;
    font-size: 16px;
    line-height: 1.5;
}
.navbar-inner {
    padding: 0.75em 1.5em 0.75em 1.5em;
    min-width: 365px;
}

.form-inline {
    width: 100%;
}

.pagination {
    margin: 0;
}

.pagination-footer {
    margin-top: 1em;
    text-align:center;
    font-size: 0.8em;
}

.thumbnail:hover, .thumbnail:active {
    background-color: #fafafa;
}

.thumbnail a:hover {
    text-decoration: none;
}

.spinner {
    position: absolute;
    top: 8em;
    width: 100%;
}

.container {
    position: relative;
}

.spinner > img {
    display: block;
    margin: 0 auto;
}

.thumbnail .caption {
    padding-bottom: 0;
    width: 95%;
    font-size: 0.75em;
}

.hideOverflow {
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

[data-flickr-role=grid] {
    opacity: 0;
}

.visible {
    opacity: 1;
}

@media (max-width: 767px) {
    .navbar-inner {
        min-width: 0;
    }

    .thumbnail .img-wrapper {
        margin: 0 auto;
        margin-top: 1em;
        -webkit-box-shadow: 5px 5px 15px #888;
        -moz-box-shadow: 5px 5px 15px #888;
        box-shadow: 5px 5px 15px #888;
    }

    .thumbnail {
        padding-top: 1.5em;
    }

    .thumbnail .caption {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

@media (max-width: 480px) {
    body {
        margin: 1em 0 1em 0;
    }

    .navbar-inner {
        padding: 0.5em 1em 0.5em 1em;
    }

    .search-query {
        width: 60%;
    }

    .navbar label {
        display: none;
    }

    .pagination-large ul>li>a, .pagination-large ul>li>span{
        padding: 0.4em;
        font-size: 1em;
    }
}
