<div class="container" data-flickr-role="app">
	<div class="row">
		<div class="span8 offset2" data-flickr-role="nav">{{> template_partials_nav }}</div>
	</div>

	<div class="row">
		<div class="span8 offset2" data-flickr-role="grid"></div>
	</div>

	<div class="row">
		<div class="span8 offset2" data-flickr-role="pagination"></div>
	</div>

    {{> template_partials_spinner}}
</div>