<li class="span2">
	<div class="thumbnail" data-item-id="{{id}}">
		<div class="img-wrapper">
			<img src="{{flickrURL}}" alt="{{title}}"/>
		</div>
		<div class="caption"><p class="hideOverflow">{{title}}</p></div>
	</div>
</li>